
@{
    ViewBag.Title = "Contact";
}

<h1>Personal Information</h1>
<br/>
<hr />
<h3>Company Name : Suraj Online Shopping</h3>
<h4>Name : Suraj Sisodiya</h4>
<h5>Mobile No. : +91 7014065979 , 8952875826</h5>


