
@{
    ViewBag.Title = "Index";
}


<h1>Welcome to Suraj Online Shopping Company : E-Cart</h1>

<hr/>

<div class="bg">
    <img src="~/Images/OIP.jfif" height="720px" width="120%" class="img-rounded" />
    @*<a href="~/Images/OIP.jfif">~/Images/OIP.jfif</a>*@
</div>

