
@{
    ViewBag.Title = "Service";
}


<h1>Online shopping</h1>
<h4>Form of electronic commerce</h4>
<hr />
<p>
    Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. Consumers find a product
</p>
<hr/>
<p>
    Ecommerce has become so popular and profitable because of a number of online shopping benefits buyers have discovered since the beginning of the electronic commerce era.
</p>

